@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.head {
    overflow:hidden;
    margin-left: 1.5vw;

}
.boximg .img{
    background-repeat: repeat;
    width: 5vw;
    height: 5vw;
}

.wrapper-head {
    margin-right: 2vw;
    /* display: flex; */
    display: -ms-grid;
    display: grid; 
    grid-auto-flow: dense;
    -webkit-column-gap: 1.3vw;
       -moz-column-gap: 1.3vw;
            column-gap: 1.3vw;
    -ms-grid-columns: 25vw 1.3vw 16vw 1.3vw 11.5vw 1.3vw 11.5vw 1.3vw 26.5vw;
    grid-template-columns: 25vw 16vw 11.5vw 11.5vw 26.5vw;
}

.item-head-01 {
    font-size: 3.2vw;
    font-weight: 200;
    margin-bottom: 2vw;
}

.item-head-02 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2vw 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 2vw;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 1vw !important;
    padding-right: 1vw !important;
    position: relative;
    width: 22.5vw;
    background-color: rgb(223, 236, 201);
}

.colorbonus {
    color: #F86500;
    font-size: 1.6vw;
    font-weight: 200;
}

.item-head-03,
.item-head-04,
.item-head-02,
.item-head-05,
.item-head-06 {
    font-size: 1.4vw;
    font-weight: 100;
    height: 5vw;
    padding: 1vw 1.5vw 1vw 1vw;
}


.item-head-02 .fontsize,
.item-head-03 .fontsize,
.item-head-04 .fontsize,
.item-head-05 .fontsize {
    font-size: 1.6vw;
    font-weight: 600 !important;
}
.fontdecor{
    text-decoration:underline;
    -webkit-text-decoration-skip-ink: none;
            text-decoration-skip-ink: none;
}
.item-head-06 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1vw 1fr 1vw 1fr 1vw 2fr;
    grid-template-columns: repeat(3, 1fr) 2fr;
    gap: 1vw;
    width: 26.5vw;
}
.item-head-06 .fontsize{
    padding: 0px !important;
    font-size: 1.6vw;
    font-weight: 200;
    text-decoration: underline;
    -webkit-text-decoration-skip-ink: none !important;
            text-decoration-skip-ink: none !important;
}